.background{
    background-color: palevioletred;
    min-height:100vh;
}
.pagination-buttons{
    background-color:blue;
    color:white;
    border-radius:4px;
    padding:10px;
    font-size:20px;
}
.right-button{
    text-align: right;
}
.flex-align-center{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.flex-justify-content-center{
    display:flex;
    justify-content: center;
    flex-direction:column;
}
@media(min-width:580px){
    .flex-justify-content-center{
        display:flex;
    justify-content: center;
    flex-direction:row;
    align-items:center;
    }
}
.logo{
    width:20%;
    height:5vh;
}
.align-center{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    min-height: 50vh;
   }
  .empty{
    width:200px;
    height:400px;
margin-top:20px;
  } 
  @media(min-width:580px){
.empty{
    width:300px;
    height:400px;
}
  }
  input{
    padding:5px;
    font-size:20px;
  }
  .navbar{
    background-color:black;
    position:fixed;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:Center;
    width:100vw;
    height:10vh;
  }
  ul{
    margin-left:-30px;
  }
  
  .column{
    display:flex;
    flex-direction:column;
  }
  .body-section{
    padding:11vh 10px 10px 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .filterBoard{
    margin-right: 15px;
    height:100vh;
    
  }
 
  @media(min-width:700px){
    .body-section{
      flex-direction:row;
      align-items:flex-start
    }
    .userCards{
      margin-left:33vw;
    }
    .filterBoard{
      background-color: white;
    position:fixed;
    left:0;
    width:30vw;
  
    }
  }